ol{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
}

.watched-movie{
    display:flex;
    justify-content: space-between;
    align-items: center;
    &__title{
        cursor: pointer;
        width: 75%;
    }    
    &__delete{
        cursor: pointer;
    }
}